


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




   

.swiper-button-next , .swiper-button-prev{
    width: 40px !important ;
    height: 80px !important;
    background-color: rgb(21, 23, 30)  !important;
    border: 1px solid gray !important;
    border-radius: 4px !important;
   margin-top: -50px !important;
    color: white !important;
    &:hover{
        border: 2px solid gray !important;
    }
  
}

