@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family:sansB ;
        src: url(../font/NotoSans-Bold.ttf);

    }

    @font-face {
        font-family:sans ;
        src: url(../font/NotoSans-Regular.ttf);
       
    }

}